<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Products</h2>
    <img class="icon collapsible__chevron" src="images/chevron.svg" alt="" />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur earum
    molestiae optio similique alias quod sint animi nobis debitis doloremque
    praesentium temporibus vero, nesciunt voluptas ad tempore sunt voluptate
    dolores.
  </div>
</div>
