<section class="container block block-domain">
  <header class="block__header">
    <h2 class="block__heading">Starting $9 at per month</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
      soluta?
    </p>
  </header>
  <div class="input--group">
    <input type="text" class="input" placeholder="Enter domain name here..." />
    <button class="btn btn--accent">
      <svg class="icon icon--white">
        <use xlink:href="images/sprite.svg#search"></use>
      </svg>
      Search
    </button>
  </div>
  <ul class="list block-domain__prices">
    <li>.com $9.26</li>
    <li>.sg $7.91</li>
    <li>
      <span class="badge badge--secondary domain-highlighted"
        >.space $12.98</span
      >
    </li>
    <li>.info $14.15</li>
    <li>.net $16.15</li>
    <li>.xyz $10.15</li>
  </ul>
</section>
