<footer class="block block--dark footer">
  <div class="container grid footer-sections">
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer-list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated</a></li>
          <li><a href="#">Migrations</a></li>
          <li><a href="#">Wordpress</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer-list">
          <li><a href="#">About</a></li>
          <li><a href="#">Affiliates</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer-list">
          <li><a href="#">Contact</a></li>
          <li><a href="#">Knowledge Base</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Products</h2>
        <img
          class="icon collapsible__chevron"
          src="images/chevron.svg"
          alt=""
        />
      </header>
      <div class="collapsible__content">
        <ul class="list footer-list">
          <li><a href="#">Domain Checker</a></li>
          <li><a href="#">Domain Transfer</a></li>
          <li><a href="#">Free Domain</a></li>
        </ul>
      </div>
    </section>
    <div class="footer__logo">
      <img src="images/logo.png" alt="" />
      <p class="footer__copyright">Copyright © 2020 Mosh</p>
    </div>
  </div>
</footer>
