<section class="container block block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <div class="plan-price-container">
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% off</span>
          </div>
          <span class="plan__description"> Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="plan-list__item">Unlimited Websites</li>
            <li class="plan-list__item">Unlimited Bandwidth</li>
            <li class="plan-list__item">100 GB SSD Storage</li>
            <li class="plan-list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--block btn--outline plan-button">
            BUY NOW
          </button>
        </div>
      </div>
    </div>
    <div class="plan plan--popular">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <div class="plan-price-container">
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--primary badge--small">10% off</span>
          </div>
          <span class="plan__description"> Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="plan-list__item">Unlimited Websites</li>
            <li class="plan-list__item">Unlimited Bandwidth</li>
            <li class="plan-list__item">100 GB SSD Storage</li>
            <li class="plan-list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--block btn--outline plan-button">
            BUY NOW
          </button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Entry</h3>
          <div class="plan-price-container">
            <span class="plan__price">$14</span>
            <span class="plan__billing-cycle">/month</span>
            <span class="badge badge--secondary badge--small">10% off</span>
          </div>
          <span class="plan__description"> Easy start on the cloud</span>
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="plan-list__item">Unlimited Websites</li>
            <li class="plan-list__item">Unlimited Bandwidth</li>
            <li class="plan-list__item">100 GB SSD Storage</li>
            <li class="plan-list__item">3 GB RAM</li>
          </ul>
          <button class="btn btn--block btn--outline plan-button">
            BUY NOW
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
