<blockquote class="quote">
  <p class="quote__text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit vero
    accusantium optio temporibus facilis numquam rem voluptatem autem hic
    possimus. Provident dolore reprehenderit, illum aspernatur vel omnis
    explicabo nulla. Asperiores nostrum, optio odio ab a nesciunt doloribus quos
    ipsam atque architecto et quia! Dignissimos, labore quis. Expedita veniam
    repellendus laudantium?
  </p>
  <div class="media">
    <div class="media__img">
      <svg class="icon icon--primary quote__line">
        <use xlink:href="images/sprite.svg#line"></use>
      </svg>
    </div>
    <div class="media__body">
      <h3 class="media__heading quote__author">Jhone Lumeo</h3>
      <p class="quote__organization">Mosh Company Ceo</p>
    </div>
  </div>
</blockquote>
